@font-face {
    font-family: 'myfont';
    src: url(fontes/Saudagar.ttf);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'myfont';
}

body {
    max-height: 100vh;
    background: #000000;
    position: relative;
}

header {
    margin-top: auto;
}

#nav {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: row;
    background: #000000;
    width: auto;
    height: 75px;
    transition: all 0.5s;
}

.title {
    margin: auto 0 auto 20px;
    width: 33%;
    color: white;
    font-size: 28px;
    text-decoration: none;
    transition: all 0.5s;
}

.title:hover {
    color: #591758;
    transition: all 0.5s;
}

nav {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: row;
    margin: auto 0 auto 0;
}
nav a {
    margin-right: 30px;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
    text-align: center;
    opacity: 1;
    border-bottom: 1px solid #000000;
    transition: all 0.5s;
}

nav a:hover {
    border-bottom:1px solid #591758 ;
    color: #591758;
    transition: all 0.5s;
}

nav a:active {
    opacity: 0.5;
    transition: all 0.1s;
}

#banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 0px 0 0px 0;
    width: 100%;
    background: linear-gradient(to top, #000000 , #591758 , #000000 );
    color: white;
    position: relative;
    opacity: 1;
    transition: all 0.8s;
    cursor: default;
}

#text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin-left: auto;
    font-size: 25px;
}

#image {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 40%;
    transform:scaleX(-1);
    filter: drop-shadow(12px -5px 7px #000000);
}

#image img {
    transition: all 0.5s;
}

#image img:hover {
    filter: brightness(150%);
    transition: all 0.5s;
}

#pom {
    text-align: center;
    background: black;
    color: #ffff;
    position: relative;
}

#linguages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 113px;
    background: black;
    padding: 10px;
}

#linguages img {
    width: 70px;
    opacity: 1;
    transition: all 0.5s;
    border-radius: 50%;
}
#linguages img:hover {
    opacity: 0.5;
    transition: all 0.5s;
}


footer {
    color: #ffff;
    text-align: center;
    padding: 0px;
    margin-top: 50px;
    background:linear-gradient(to right,black,black,#3b0f3b,black,black);
}


